/** @format */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.game {
  /* width: 800px; */
  /* height: 400px; */
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url("img/bg.webp") no-repeat center center fixed;
  background-size: 800px 400px;
}

/* Dino */
#dino {
  width: 150px;
  height: 150px;
  background-image: url(img/dino.png);
  background-size: cover;
  position: absolute;
  left: 90px;
  bottom: 10px;
  transform: translateY(0);
}

/* Cactus */
#cactus {
  width: 100px;
  height: 100px;
  background-image: url(img/cactus.png);
  background-size: cover;
  position: absolute;
  left: 850px;
  bottom: 10px;
  transform: translateX(0);
  animation: cactusMove 3s infinite linear;
}

/* === Анимация движения Cactus === */
@keyframes cactusMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-900px);
  }
}

/* === Анимация прыжка === */
.jump {
  animation: jump 0.9s linear;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(-150px);
  }
  80% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0);
  }
}

/* === Кнопки управления === */
#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
}

#controls button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(81, 25, 25, 0.9);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Сдвигаем Jump левее */
#jump-button {
  margin-right: 30px;
}

@media screen and (orientation: portrait) {
  #rotate-message {
    display: block;
  }

  .game,
  #controls {
    display: none;
  }
}
